.movableBox {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease, top 0.3s ease;
}